@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.hash-link::before {
  content: "#";
}
code {
  color: orange;
}
a {
  @apply text-blue-600 hover:text-blue-800 visited:text-purple-600;
}
/* .steps.h3 {
  @apply step;
} */
.dl-steps {
}
.dl-steps h3 {
  counter-increment: step;
}
.dl-steps h3:before {
  text-align: center;
  text-indent: -1px;
  --tw-text-opacity: 1;
  color: rgba(163, 163, 163, var(--tw-text-opacity));
  content: counter(step);
  border-radius: 9999px;
  margin-top: 3px;
  margin-left: -41px;
  font-size: 1rem;
  font-weight: 400;
  --tw-border-opacity: 1;
  border-width: 4px;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  width: 33px;
  height: 33px;
  position: absolute;
}
.\[counter-reset\:step\] {
  counter-reset: step;
}
